/* Color Theme 1:
362E42 - Darkest Black/Red
252F3E - Dark Gray/Blue
6586B0 - Meduim Gray/Blue
9BB1CB - Cloudy Sky/Blue
BBC8D7 - Light Cloudy Sky/Blue
*/

/* Color Theme 2  (Extracted from Mountains Pic)
#011126 - Darkets (almost black)
#023859 - Darkest Blue
#3F6F8C - Medium Blue
#688EA6 - Light Blue
#D2D7D9 - Off White
 */

/**************************
#3F5773 - BACKGROUND BLUE (from original WAPTA site)  ** USE THIS **
***************************/

.navbar {

/* background-color: #3F5773; */
background-color: transparent;
    /* overflow: hidden; */
    
    /* color: white; */
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #D2D7D9;
    text-align: left;
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.1em;
  }
  .navbar a:hover {
    background: #D2D7D9;
    color: #011126;
  }

.jumbotron {
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 0.5em;
    color: #D2D7D9;
    /* text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; */
    /* text-shadow: 4px 2px #222324, 1px 3px #222324, 2px 4px #222324; */
    /* text-shadow: 2px 1px #222324, 1px 2px #222324, 1px 2px #222324; */
    height: 80vh;
}

/* .TypewriterText {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  } */

#SignUpBelow {
    font-size: 2em;
    padding: 2em;
}

.btn-primary {
    background-color: transparent;
    border-width: 2px;
    border-color: white;
    border-radius: 1em;
}

#Section2{
    background-image:url("../img/Outdoorsman_Collage.jpg");
    background-attachment:fixed;
    display:block;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-radius:0px;
    width:100%;
    position:relative;
}
/* #Section1, */
 #Jumbotron, .navbar {

    background-image:url("../img/Mountain_Night.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    opacity: 1;
}

#Section1, #Section2 {
    text-align: center;
}

#Article1 {
    text-align: center;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    color: white;
    background-color: #011126;
}

#IPhone7Pic {
    max-width: 80%;
}

#Article1, #Article2, #Article4 {
    color: #011126;
    background-color: white;
    border: solid white;
    padding: 3em;
}

#Article3 {
    color: white;
    background-color: #3F5773;
    padding: 4em;
    }

#Article5 {
    color: orange;
    background-color: transparent;
    padding: 4em; 
}

#Article6{
    color: black;
    background-color: white;
    border: solid white;
    padding: 30px;
}

#SignUpForm {
    color: white;
    background-color: #3F5773;
}

#BouncingArrow {
    width: 90px;
    height: auto;
}

#Article7 {
    display: flex;
    height: auto;
    background-image: linear-gradient(white, #3F5773);
    padding: 35px;
}

.make-circular {
    border-radius: 50%;
    width: 93px;
    height: 93px;
}

.comments {
    padding: 4em;
}

#FormEmail {
    background-color: #3F5773;
    height: auto;
    padding: 30px;
    color: white;
}

#TRANSPARENT-Article {
    background-color:transparent;
    height: 45vh;
}


/* mobile  device */
@media screen and ( min-width: 600px ) {
    #Jumbotron {
        background-color: transparent;
        background-repeat: no-repeat;
        text-align: center;
        font-size: 1em
        color: #D2D7D9;
        height: 80vh;
    
    }
    #Jumbotron, .navbar {

        background-image:url("../img/Mountains_Day.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat:no-repeat;
        opacity: 0.8;
    }
    

    


}