/* Color Theme 1:
362E42 - Darkest Black/Red
252F3E - Dark Gray/Blue
6586B0 - Meduim Gray/Blue
9BB1CB - Cloudy Sky/Blue
BBC8D7 - Light Cloudy Sky/Blue
*/

/* Color Theme 2  (Extracted from Mountains Pic)
#011126 - Darkets (almost black)
#023859 - Darkest Blue
#3F6F8C - Medium Blue
#688EA6 - Light Blue
#D2D7D9 - Off White
 */

/**************************
#3F5773 - BACKGROUND BLUE (from original WAPTA site)  ** USE THIS **
***************************/


/* .parallax-background {
    background-size: cover;
    background-image:url("../img/903f82dd-waptaicefield-ab-taylorburk2_1000000000000000000028.jpg");
    background-attachment: fixed; */

}

.navbar {
    /* overflow: hidden; */
    background-color: #011126;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #D2D7D9;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background: #D2D7D9;
    color: #011126;
  }

.jumbotron {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    font-size: xx-large;
    color: #D2D7D9;
    height: 80vh;
}

#Section2{
    background-image:url("../img/Outdoorsman_Collage.jpg");
    background-attachment:fixed;
    display:block;
    /* background:rgba(255,255,255,0.06); */
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-radius:0px;
    width:100%;
    position:relative;
}

#Section1, #Jumbotron {

    background-image:url("../img/Mountains_Day.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

/* .PackUP-Title {
    color: #362E42;
}

#TypewriterText {
color: #02BADC;
} */

#Section1, #Section2 {
    text-align: center;
}

#Article1 {
    text-align: center;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    color: white;
    background-color: #011126;
}

#IPhone7Pic {
    max-width: 70%;
}

#Article1, #Article2, #Article4 {
    color: #011126;
    background-color: white;
    border: solid white;
    padding: 30px;
}

#Article3 {
    color: white;
    background-color: #3F5773;
    padding: 4em;
    }

#Article5 {
    color: orange;
    background-color: transparent;
    padding: 4em; 
}

#Article6{
    color: black;
    background-color: white;
    border: solid white;
    padding: 30px;
}

#SignUpForm {
    color: white;
    background-color: #3F5773;
}

#Article7 {
    display: flex;
    height: auto;
    background-image: linear-gradient(white, #3F5773);
    padding: 35px;
}

.make-circular {
    border-radius: 50%;
    width: 93px;
    height: 101px;
}

.comments {
    padding: 10px;
}

#FormEmail {
    background-color: #3F5773;
    height: auto;
    padding: 30px;
    color: white;
}

#TRANSPARENT-Article {
    background-color:transparent;
    height: 45vh;
}