*{
    font-family: Montserrat, sans-serif;
    
}
.navbar {

background-color: #405773;
/* background-color: transparent; */
  }



.jumbotron {
    background-color: #969696;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 36px;
    /* font-size: 1.2em; */

    color: white;
    /* height: 80vh; */
    min-height: 25em;
    padding-top: 2em;

    /* color: #D2D7D9; */
}

#logoPackup {
    text-align: top;
    font-size: 1em;
    padding-bottom: 1em;
    font-weight: 900;
}
#logoPack {
    color: white;
    /* padding-right: 0; */
}
#logoUp {
    color: rgb(52, 67, 86);
    /* padding-left: 0; */
}


#SignUpBelow {
    font-size: 1rem;
    padding-top: 4rem;
}

.btn-primary {
    background-color: transparent;
    border-width: 2px;
    border-color: white;
    border-radius: 2em;
    padding-right: 3em;
    padding-left: 3em;
}

/* Fullsize formatting (mediaQ below */
#Jumbotron {

    background-image:url("../img/Mountain_Night.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat:no-repeat;
    background-position: bottom;
    opacity: 1;
    text-align: top;

}

#Section1, #Section2 {
    text-align: center;
}

.jumbotronHeadings {   
    color: white;
    font-size: 1.75rem;
    /* font-family: 'Roboto'; */
}

.articleHeadings {
    
    /* color: darkorange; */
    font-size: 1.75rem;
}

/* BOOTSTRAP H0TAG FORMATTING */
/* h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {font-size: 2.5rem;}
h2, .h2 {font-size: 2rem;}
h3, .h3 {font-size: 1.75rem;}
h4, .h4 {font-size: 1.5rem;}
h5, .h5 {font-size: 1.25rem;}
h6, .h6 {font-size: 1rem;}
} */

#Article1 {
    text-align: center;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-color: #011126;
}

#IPhone7Pic {
    max-width: 80%;
}

#Article1, #Article2, #Article4 {
    /* color: #254C77; */
    background-color: white;
    border: solid white;
    padding: 3em;
}

#Article3 {
    color: white;
    background-color: #405773;
    padding: 2em;
    }

#Section2{
    background-attachment:fixed;
    display:block;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-radius:0px;
    width:100%;
    position:relative;
}

#Article5 {
    background-color: transparent;
    padding: 4em; 
}

#Article6{
    color: #405773;
    /* background-color: white; */
    background-color: white;
    border: solid white;
    padding: 30px;
    font: Montserrat Light;
}

#SignUpForm {
    color: white;
    background-color: #405773;
    font-size: 1em;
}

#BouncingArrow {
    width: 90px;
    height: auto;
}

#Article7 {
    display: none;
}

.make-circular {
    border-radius: 50%;
    width: 5em;
    /* height: 6em; */
}

.testimonials {
    display: none;
    /* padding: 4em;
    color: white;
    font: Montserrat Light;
    font-style: Italic;
    font-size: 14px; */
}

#FormEmail {
    background-color: #405773;
    height: 25em;
    padding: 30px;
    color: white;
    color: whitesmoke; 
    
    /* text-align: left; */
}

.left-align {
    text-align: left;
}

#TRANSPARENT-Article {
    background-color:transparent;
    height: 45vh;
    display: none;
}

#inline-collage {
    /* width: 100vw; paul to review and delete */
    max-width: 100%;

}
#Article8 {
    background-color: #405773;
    color: white;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom:3em;
    height: 10em;

}

.websiteUnderConstruction {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: #405773;
    height: 80vh;
    padding: 3em 0;
}

.websiteUnderConstruction {
    color: white;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    background-color: #405773;
    height: 70vh;
    padding: 3em 4em;
    display: none;
}