.TypewriterText {
    margin: auto;
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
<<<<<<< HEAD
  }
=======
    height: 40px;
  }
>>>>>>> 70e4432959f7547f26e76efa265d76f32abbfd02
