/* mobile device
 * 1) change background of top section
 * 2) show transparent-article with the larger media query from the defaulted hide
 */
 @media screen and ( min-width: 600px ) {

    #Jumbotron {
        background-image:url("../img/Mountains_Day.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-position: center;
        opacity: 0.8;
        background-color: transparent;
        text-align: center;
        font-size: 2rem;
        color: white;
        min-height: 671px;
        padding-bottom: 2em;
    }
    .jumbotronHeadings {   
        color: white;
        font-size: 3rem;
        font: 'Krono One';
    }
    .TypewriterText {
        margin: auto;
        color: white;
        font: 700 normal 1.5em 'tahoma';
        height: 1em;
        font-family: 'Krona One', sans-serif;
      }

    #logoPackup {
        text-align: left;
        font-size: 1rem;
    }

    .formHeadings {
        font-size: 2rem;
    }
    #formEmail {
        text-align: center;
        /* overflow: hidden; */
        background-color: #405773;
        padding: 30px;
        color: white;
    }
    .formFields {
        justify-content: center;
        display: flex;
        padding: 20px;
    }


    #TRANSPARENT-Article {
        background-color:transparent;
        height: 45vh;
        display: block;
    }



    #Article7 {
        display: flex;
        height: auto;
        background-image: linear-gradient(white, #405773);
        padding: 35px;
    }
    
    .testimonials {
        display: block;
        padding: 0em 4em;
        color: white;
        font: Montserrat Light;
        font-style: Italic;
        font-size: 14px;    
    }
    .testimonial-instance {
        padding-top: 3em;
        padding-bottom: 0;
    }


    
    #Section2 {
        background-image:url("../img/Outdoorsman_Collage.jpg");
    }
    
    #inline-collage {
        display: none;
    }
    #footerId {
        flex-direction: row-reverse;
        padding-left: 2em;
        padding-right: 2em;
        justify-content: space-between;
        /* padding-top: 32px; */
        color: white

    }
    /* #footerId p {
        padding-top: 32px;
    } */

    
}